@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
    max-width: 100%;
    overflow: scroll;
    font-family: "poppins";
}


@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }



.main-menu-before{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

.navbar{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100vw;
}



.main-menu-after{

    animation: 1s ease-out 0s 1 slideInFromRight;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 22%;
    left: 58%;
    rotate: -5deg;
    height: 90%;
    border-radius: 1rem;
    border: solid;
    border-color: gray;
    width: 70%;
    height: 100%;
    overflow: hidden;

    
    
    
}

.swiper-wrapper{
  align-items: end;
 
}



.best-coffee-common{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

